# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

MONGODB_URI=exanle

# Put lots of randomness in these
JWT_SECRET=example
